:root {
	--main-color: #2f53c1;
	--main-color-light: #95a7df;
	--main-color-dark: #182a62;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.content {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	color: var(--main-color);
	margin-bottom: 0.1em;
}

h2 {
	font-family: 'Heebo', sans-serif;

	font-size: 1.4em;
}

blockquote p {
	margin: 0.1em;
}
.question {
	color: var(--main-color-light);
	border-left: 4px solid var(--main-color-light);
	padding-left: 0.5em;
}

#dl-button {
	background-color: var(--main-color);
	margin-top: 1em;
	padding: 0.4em;
	border: 0;
	transition: .1s;
}

#dl-button:hover {
	transform: scale(1.05);
}

#dm-button:focus {
	transform: scale(0.9);
}

#dl-button a {
	color: #fff;
	text-decoration: none;
	font-size: large;
}

a:link {
	text-decoration: none;

	color: var(--main-color);
}

a:visited {
	color: var(--main-color);
}

a:hover {
	color: var(--main-color-light);
}

#codeblock {
	padding: 1em;
	background-color: gainsboro;
}
